.qrocode {
  margin: 5px 0px 10px 30px;
}

.table {
  width: 80%;
  margin: 2rem 0 0 168px;
  border-collapse: collapse;
}

.table > thead > th {
  text-transform: uppercase;
  padding: 0.8rem;
}

.table > tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.table > tbody > tr > td {
  color: #999;
  padding: 0.8rem 1.2rem;
  text-align: center;
}

.table > tbody > tr > td:first-child {
  text-align: left;
}

.table > tbody > tr:nth-child(even) {
  background: #222;
}

.btn-qr {
  margin-left: 100px;
}

@media (max-width: 575px) {
  .table {
    margin-left: 40px;
  }

  .table > tbody > tr > td {
    padding: 0.8rem 0.5rem;
  }
}
