body {
  background: #0e101c;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
  text-transform: uppercase;
}

.form {
  background: #0e101c;
  max-width: 400px;
  margin: 0 auto;
  padding-left: 20px;
}

p {
  color: #bf1650;
  margin-left: 5px;
}

p::before {
  display: inline;
  content: "  ⚠ ";
}

textarea,
input {
  display: block;
  box-sizing: border-box;
  width: 95%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

button[type="submit"],
input[type="submit"] {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
  flex: 0.8;
  height: 50px;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  background: #bf1650;
}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

button[type="submit"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

button[type="button"] {
  display: block;
  appearance: none;
  background: #333;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

hr {
  margin-top: 30px;
}

button {
  display: block;
  appearance: none;
  margin-top: 40px;
  border: 1px solid #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

select {
  display: block;
  box-sizing: border-box;
  width: 50%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.btnSubmit {
  display: flex;
  margin-left: 15px;
}

.btnVerify {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
  margin-left: 10px;
  height: 50px;
  text-decoration-line: none;
}

.formFill {
  margin: 25px 50px;
}

.fill {
  color: red;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: -10px;
}

h2 {
  color: #bf1650;
  font-size: 26px;
  font-weight: 600;
}

.imgQr {
  margin: 15px 520px;
}
.imageQr {
  margin-top: 15px;
  margin-left: 130px;
}

.imgQi {
  margin: 15px 540px;
}

.Congrats {
  margin-left: 540px;
  margin-top: 15px;
  color: yellow;
}

.top_btn {
  display: block;
  appearance: none;
  margin-top: 40px;
  border: 1px solid #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
  width: 100%;
  height: 50px;
}

@media (max-width: 436px) {
  form {
    max-width: 350px;
  }
  label {
    margin-left: 5px;
    margin-top: 10px;
  }
  p {
    margin-left: 10px;
  }
  .imgQr {
    margin: 15px 50px;
  }
  .imgQi {
    margin: 15px 80px;
  }
  .imageQr {
    margin-top: 15px;
    margin-left: 33px;
  }
  .Congrats {
    margin-left: 30px;
  }
  .top_btn {
    width: 85%;
    margin-left: 32px;
    height: 50px;
    margin-bottom: -10px;
    margin-top: 30px;
  }
}
